<section class="landing">
  <div class="join-connector"
  ng-if="landingCtrl.showSignup">
  <div class="join-inner">
   <p> already a memeber? </p>
   <a href= "/#/join/login" ng-click="landingCtrl.showSignup=false">
     sign in here.
   </a>
 </div>
 </div>

 <div class="join-container" ng-if="!landingCtrl.showSignup">
   <div class="join-inner">
     <!---login component here-->
     <login></login>
     <div class="clearfix"></div>
     <p> Need to Sign up?</p>
     <a href="/#/join#signup" ng-click="landingCtrl.showSignup=true">
       Sign up here
     </a>
   </div>
 </div>
  </section>
